{{> head}}
{{> navbar}}
      <div class="row">
          <div class="col-8">
              <h1>Acerca de...</h1>
          </div>
          <div class="col-4">
              <img src="assets/images/buho.jpg" class="img-thumbnail">
          </div>
      </div>
{{> footer}}